body{
	width:auto;
	background-image:url(../images/sayagata-400px.png);
	font-family: 'Georgia', Times, Times New Roman, Serif;
}
header{
	width:100%;
	background-color: #ffffff;
	border-bottom:2px;
	border-bottom-style:solid;
	border-color:grey;
}

h1{
	background-color: #4aaaa5;
	width:150px;
	height:75px;
	text-align: center;
	color:white;
	margin:5px 0px 0px 100px;

}
h2{
	color:#4aaaa5;
	border-bottom:2px;
	border-bottom-style:solid;
	border-color:grey;
	
}

.nav-tab{
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-bottom:20px;	

}
nav{
	float:right;
	text-align:center;
	position: absolute;top:30px;right:350px;
}
ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
li{
	float:right;
}
li a{
	display:block;
	color:grey;
	text-align: center;

}
#nav-about{
	margin: 5px;

}
#nav-contact{
 	margin: 5px;
 	border-left: 1px;
 	border-right:1px;
 	border-color:gray;
 	border-left-style:solid;
 	border-right-style:solid;
 	padding-right:2px; 
 	padding-left:2px;
}
#nav-portfolio{
	margin: 5px;
}
#about{
	background-color:white;
	color:grey;
	width:650px;
	height:100%;
	border-style:solid;
	border-color:grey;
	border-width:1px;
	margin:50px 0px 0px 100px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	overflow:auto;
	padding:0px 10px 10px 10px;
}
#connect-side-bar{
	clear:all;
	width: 170px;
	height:auto;
	float:right;
	margin:0px 65px 100px 0px;
	padding:10px 10px 0px 10px;
	border:1px;
	border-style:solid;
	border-color:grey;
	background-color:white;
	overflow:auto;
	text-align:center;
	position:absolute;right:250px; top:135px;
}

.thumb {
	width:50px;
	height:50px;
	display: inline;
}


#marsrover{
	max-width:75%;
	float:left;
	margin-right:15px;
}
p{
	font-size:14px;
}

footer{
	position: fixed;
	width:100%;
	height:50px;
	border-top-style:solid;
	border-top-width:5px;
	border-top-color:#4aaaa5;
	background-color: grey;
	color:white;
	bottom:0;
	text-align: center;
	padding-top:25px;


}
#contact-form{
	width:650px;
	height:100%;
	background-color: white;
	border-style:solid;
	border-color:grey;
	border-width:1px;
	margin:50px 0px 0px 100px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	overflow:auto;
}
.input{
	width:100%;

}


















